uczelnia
{  
  background-color:rgba(162, 128, 190, 0.459);
  width: 50%;
  text-align: center;
}
wydzial
{
    display: block;
    font-size: 20;
    width: 500px;
    margin-left: 550px;
    
}
nazwa
{
    color:rgb(235, 235, 235) ;
    display: block;
    border: 1px solid rgb(8, 61, 68);
    background-color:rgb(23, 134, 134);
    margin: 10px;
    padding: 5px;
    font-family: Georgia;
}
kierunek
{
    font-family: Verdana;
}
student
{
    display: block;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    color: rgb(227, 230, 228);
    background-color: rgba(93, 157, 177, 0.938);
}